<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>

   <clear />

   <add name="chinook"
    providerName="SQLiteOLEDBProvider.SQLiteOLEDB.1"
    connectionString="Provider=SQLiteOLEDBProvider.SQLiteOLEDB.1;Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="chinook2"
    providerName="System.Data.OleDb"
    connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="chinookOLD"
    providerName="System.Data.OleDb"
    connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

   <add name="Name999"
    providerName="System.Data.ProviderName"
    connectionString="Data Source=DBSRV\QWERTY;Database=Sales;User Id=user02;Password=8a0IucJ@Nx1Qy5HfFrX0Ob3m;" />

   <add name="SQLITEDB1"
    providerName="System.Data.ProviderName"
    connectionString="Data Source=D:\TEMP\SQLite\SQLITEDB1.db3;" />

</connectionStrings >
