<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <section name="DataPhilosophiaeSection" type="FrontEnd.ConfigurationSetting.DataPhilosophiaeSection,FrontEnd" />
      <section name="TunnelSection" type="FrontEnd.ConfigurationSetting.TunnelSection,FrontEnd" />
      <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   </configSections>
   <connectionStrings configSource="connections.config" />
   <!--connectionStrings>

      <clear />

      <add name="chinook"
       providerName="SQLiteOLEDBProvider.SQLiteOLEDB.1"
       connectionString="Provider=SQLiteOLEDBProvider.SQLiteOLEDB.1;Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

      <add name="chinook2"
       providerName="System.Data.OleDb"
       connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

      <add name="chinookOLD"
       providerName="System.Data.OleDb"
       connectionString="Data Source=D:\TEMP\SQLite\chinook\chinook.db;" />

      <add name="Name999"
       providerName="System.Data.ProviderName"
       connectionString="Data Source=DBSRV\QWERTY;Database=Sales;User Id=user02;Password=8a0IucJ@Nx1Qy5HfFrX0Ob3m;" />

      <add name="SQLITEDB1"
       providerName="System.Data.ProviderName"
       connectionString="Data Source=D:\TEMP\SQLite\SQLITEDB1.db3;" />
    
   </connectionStrings -->
   <!-- DataPhilosophiaeSection StagePathDir="D:\TEMP\SQLite\DSCOLL_PATHDIR" -->
   <DataPhilosophiaeSection>
      <Stage PathDir="D:\TEMP\SQLite\DSCOLL_PATHDIR\" />
      <datastore Name="blade01" csName="chinook" LoadDefaultDatabaseOnly="1" LoadSystemObjects="1" WithFields="1" />
      <datastore Name="blade02" csName="chinook2" WithFields="1" />
      <datastore Name="blade2222" csName="chinook2" WithFields="1" PathDir="Z:\TEMP\" />
      <datastore Name="blade03" csName="SQLITEDB1" LoadDefaultDatabaseOnly="1" />
      <datastore Name="blade04" csName="XXXX" LoadSystemObjects="1" />
   </DataPhilosophiaeSection>
   <!-- TunnelSection>
    <host SSHServerHostname="tsg.edssdn.net" username="user" SSHport="22" password="pass" privatekey="" privatekeypassphrase="">
      <tunnels>
        <tunnel name="tfs" localport="8081" remoteport="8080" destinationserver="tfs2010.dev.com" />
        <tunnel name="sql" localport="14331" remoteport="1433" destinationserver="sql2008.dev.com" />
        <tunnel name="crm2011app" localport="81" remoteport="80" destinationserver="crm2011betaapp.dev.com" />
      </tunnels>
    </host>
    <host SSHServerHostname="blade16" username="root" SSHport="22" password="pass" privatekey="" privatekeypassphrase="">
      <tunnels>
        <tunnel name="vnc" localport="5902" remoteport="5902" destinationserver="blade1.dev.com" />
      </tunnels>
    </host>
  </TunnelSection -->
</configuration>