<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<!--Application Configuration...-->
<appCfg>
  <rofColl>
    <rof fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="true" />
    <rof fnm="NOT_FOUND_FILENAME.xml" pnm="D:\TEMP\CS" pin="true" />
    <rof ts="20180806T163603,8391062+10:00" fnm="dsConfig3.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T164643,3684338+10:00" fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T164701,3724120+10:00" fnm="dsConfig3.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T170005,4110953+10:00" fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T170011,9637002+10:00" fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T170028,2486728+10:00" fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="false" />
    <rof ts="20180806T170226,5887997+10:00" fnm="dsConfig.xml" pnm="D:\TEMP\CS" pin="false" />
  </rofColl>
</appCfg>